.con-red {
  color: red;
}

.con-green {
  color: green;
}

.obs-form .ui.label {
  min-width: 6.6125rem !important;
}

.shortcut-create-area .field {
  margin-bottom: 10px;
}

.key-recorder + input {
  width: 250px;
}

.ui.selection.dropdown .menu {
  max-height: 16.15428571rem;
}

.ui.dimmer {
  background-color: rgba(219, 40, 40, 0.79);
}

.ui.segment.dimmable.dimmed {
  padding: 5px;
}

.ui.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ui.bottom.attached.tab.segment.active {
  border-bottom: 0 !important;
}

.ui.tabular.menu .active.item {
  border-radius: 0 !important;
}

.ui.icon.header .icon {
  font-size: 2em !important;
}

h2.ui.header {
  font-size: 1.31428571rem !important;
}

input[name="keys"] {
  min-width: 260px;
}

.ui.toggle.checkbox {
  margin-left: 20px;
}

#notification {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.noty_theme__sunset.noty_bar {
  margin: 0 !important;
  border-radius: 0 !important;
}
